@reference "tailwindcss";

.table {
  @apply w-full;

  th,
  td {
    @apply border p-1 text-center;
  }

  thead {
    th {
      @apply bg-slate-100 py-2;
    }
  }

  tbody {
    td {
      &:first-child,
      &:nth-last-child(2) {
        @apply tabular-nums;
      }
      &:first-child {
        --w: 3rem;
        min-width: var(--w);
        max-width: var(--w);
        width: var(--w);
      }
      &:nth-last-child(2) {
        @apply font-semibold;
      }
    }
  }
}
